# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
BASENAME=/
BACKEND_URL=https://crispy-space-chainsaw-g444pg9vq95v3v6g6-3001.app.github.dev/

#API email
MAIL_USERNAME=hoynococino.ceo@gmail.com
MAIL_PASSWORD=s g q x e w r g x h r b w n z j

#API Cloudinary
CLOUDINARY_CLOUD_NAME=HoyNoCocino
CLOUDINARY_API_KEY=365613417374529
CLOUDINARY_API_SECRET=EdjyNb9PPgfrebD40Lm7s2Auhc4