.d-flex {
    margin-top: 80px;
    width: 100%;
    
  } 

  .background-img {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 90%;
    height: 90%;
    z-index: 0;
    border-radius: 20px;
    opacity: 0.4;
  }
  
  .custom-container {
    justify-content:center ;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px 0; /* Más separación vertical */
    width: 100%;  /* Se ajusta en pantallas pequeñas */
    max-width: 500px; /* Ancho máximo del contenedor */
    position: relative;
    /* Animación del contenedor que entra de derecha a izquierda */
    animation: slideInContainer 2s ease forwards;
    background: linear-gradient(to right, #d3d3d3, #696969); /* Degradado de gris claro a gris oscuro */
    border: 2px solid transparent; /* Borde transparente */
    z-index: 1;
}

.custom-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px; /* Asegura que el borde siga la forma del contenedor */
    background: linear-gradient(to right, #d3d3d3, #777); /* Degradado de gris claro a gris oscuro */
    z-index: -1; /* Envuelve el contenedor */
    filter: blur(5px); /* Borra un poco el fondo */
}
  
  /* Animación para la imagen */
  .custom-img {
    width: 115px;
    height: 115px;
    position: absolute;
    top: -30px;
    left: 20px;
    border-radius: 50%;
    /* Animación de la imagen que entra de izquierda a derecha */
    animation: slideInImage 2s ease forwards;
    animation-delay: 0s; /* Sin retardo para que ambas entren al mismo tiempo */
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.5);
    border: 5px solid #333;
  }
  
  .custom-title {
    font-size: 30px;
    margin: 30px 0 10px 0;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-left: 50px;
  }
  
  .custom-text {
    color: #333;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 0;
    text-align: justify;
  }
  
  /* Media query para pantallas pequeñas */
  @media (max-width: 576px) {
    .custom-container {
      max-width: 90%; /* Para pantallas más pequeñas */
    }
  
    .custom-img {
      width: 50px;
      height: 50px;
      top: -25px;
      left: 10px;
    }
  
    .custom-title {
      font-size: 20px;
    }
  
    .custom-text {
      font-size: 16px;
    }
  }
  
  /* Animación para que el contenedor entre de derecha a izquierda */
  @keyframes slideInContainer {
    from {
      transform: translateX(100%); /* Empieza desde fuera de la pantalla a la derecha */
    }
    to {
      transform: translateX(0); /* Termina en su posición original */
    }
  }
  
  /* Animación para que la imagen entre de izquierda a derecha */
  @keyframes slideInImage {
    from {
      transform: translateX(-800%); /* Empieza desde fuera de la pantalla a la izquierda */
    }
    to {
      transform: translateX(0); /* Termina en su posición original */
    }
  }
  