/* Estilos generales de la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #090909, #b3b3b3);
    padding: 0.5rem 1.5rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f1c40f;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-brand img {
    height: 3.5rem;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto; /* Empuja los links hacia la derecha */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-weight: 500;
}

.nav-links a:hover {
    color: #00000064;
}

/* Ajustes para pantallas medianas */
@media (max-width: 1024px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .nav-links {
        gap: 15px;
    }

    .navbar-brand {
        font-size: 1.3rem;
    }

    .navbar-brand img {
        height: 3rem;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.75rem 1.25rem;
    }

    .nav-links {
        gap: 10px;
        justify-content: flex-end;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-brand img {
        height: 2.8rem;
    }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .nav-links {
        gap: 10px;
        justify-content: flex-end;
    }

    .nav-links a {
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .navbar-brand {
        font-size: 1.1rem;
    }

    .navbar-brand img {
        height: 2.5rem;
    }
}
