/* Contenedor externo para ajustar el fondo y márgenes generales */
.area-privada {
  width: 100%;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid #ddd; 
  margin-bottom: 30px;
  font-size: 18px;
  color: #555;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); 
  transition: all 0.3s;
}

.search-bar:focus {
  border-color: #aaa; 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* Contenedor principal centrado */
.area-privada-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0px;
  min-width: 320px;
  transition: padding 0.3s ease;
  display: flex;
  flex-direction: column;
}

/* Ajustes de padding y margin según el tamaño de pantalla */
@media (max-width: 1200px) {
  .area-privada-container {
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .area-privada-container {
    padding: 0px;
    margin-left: 10px; 
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .area-privada-container {
    padding: 0px;
    margin: 0 5px;
    max-width: 100%;
    margin-left: auto;  
    margin-right: auto; 
  }
}

/* Contenedor de tarjetas */
.restaurant-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
}

/* Estilo para cada tarjeta */
.restaurant-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  box-sizing: border-box;
  /*background: linear-gradient(to left, #090909, #b3b3b3);*/
}

/* Imagen dentro de la tarjeta */
.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.restaurant-card:hover .restaurant-image {
  opacity: 0.9;
}

.restaurant-info h3 {
  font-size: 24px; 
  margin: 0;
  margin-bottom: 10px;
  color: #333; 
  font-weight: 600;
}

.restaurant-info p {
  margin: 5px 0;
  color: #777; 
  font-size: 16px;
}

.restaurant-info strong {
  color: #555;
}

.favorite-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-button {
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.favorite-button.favorited {
  background-color: #e74c3c;
}

.favorite-button:hover {
  background-color: #555; 
}

/* Ajustes responsivos */
@media (max-width: 1200px) {
  .restaurant-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .restaurant-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .restaurant-cards-container {
    grid-template-columns: 1fr;
  }
  .restaurant-card {
    max-width: 100%;
  }
}

/* Ocultar el desbordamiento horizontal */
html, body {
  overflow-x: hidden;
}

/* Sección de "¿Prefieres otro tipo de comida?" */
.other-cuisine-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px 0; 
}

.other-cuisine-section h4 {
  margin-bottom: 20px; 
  font-size: 1.5rem;
  color: #2c2c2c;
}

.scroll-to-home-btn {
  background-color: #333;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-to-home-btn:hover {
  background-color: #555; 
  color: white;
}

/* Ajustes responsivos para la sección "¿Prefieres otro tipo de comida?" */
@media (max-width: 768px) {
  .other-cuisine-section h4 {
    font-size: 1.25rem;
  }

  .scroll-to-home-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .other-cuisine-section {
    margin: 20px 0;
  }

  .other-cuisine-section h4 {
    font-size: 1rem;
  }

  .scroll-to-home-btn {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
