/* Aseguramos que el box-sizing esté configurado correctamente */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Contenedor externo para ajustar el fondo y márgenes generales */
.area-privada {
  width: 100%;
  min-width: 100vw;
  padding: 20px;
  background: linear-gradient(to right, #090909, #b3b3b3);
}

/* Contenedor principal centrado */
.area-privada-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  min-width: 320px;
  transition: padding 0.3s ease;
  display: flex;
  flex-direction: column;
}


/* Ajustes de padding y margin según el tamaño de pantalla */
@media (max-width: 1200px) {
  .area-privada-container {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .area-privada-container {
    padding: 10px;
    margin-left: 10px;  /* Añade un pequeño margen para ajustar */
    margin-right: 10px; /* Añade un pequeño margen para ajustar */
  }
}

@media (max-width: 480px) {
  .area-privada-container {
    padding: 5px;
    margin: 0 5px;
    max-width: 100%;
    margin-left: auto;  /* Vuelve a centrar en pantallas muy pequeñas */
    margin-right: auto; /* Vuelve a centrar en pantallas muy pequeñas */
  }
}

/* Contenedor de tarjetas */
.restaurant-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para cada tarjeta */
.restaurant-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  box-sizing: border-box;
}

/* Imagen dentro de la tarjeta */
.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Información del restaurante */
.restaurant-info {
  text-align: left;
  margin-top: 10px;
  flex-grow: 1;
}

/* Botón de favorito */
.favorite-button {
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.favorite-button.favorited {
  background-color: #e74c3c;
}

/* Ajustes responsivos */
@media (max-width: 1200px) {
  .restaurant-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .restaurant-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .restaurant-cards-container {
    grid-template-columns: 1fr;
  }
  .restaurant-card {
    max-width: 100%;
  }
}

/* Ocultar el desbordamiento horizontal */
html, body {
  overflow-x: hidden;
}
