/* Contenedor principal */
.restaurant-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1120px; /* Ajuste del ancho máximo */
    margin: 0 auto;
}

/* Encabezado del área dentro del contenedor restaurant-detail-layout */
.area-header {
    background: linear-gradient(90deg, #4b4b4b, #222);
    color: white;
    text-align: center;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100px; /* Fijar el alto a 100px */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 16px 16px 0 0;
}

.restaurant-detail-layout {
    display: flex;
    flex-direction: row; /* Alineación horizontal */
    justify-content: space-between; /* Separar card y texto */
    background-color: #f7f7f7;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    flex-wrap: wrap; 
    margin: 0 auto; /* Esto centra el contenedor */
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Card de información del restaurante */
.restaurant-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex: 1;
    max-width: 300px;
    margin-bottom: 20px;
}

/* Descripción del restaurante */
.restaurant-description-container {
    flex: 2;
    margin-left: 20px;
    margin-right: 40px;
    text-align: justify;
    padding: 20px;
}

/* Botones del restaurante */
.restaurant-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

/* Estilo de los botones */
.action-button {
    background-color: #333;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #555;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .restaurant-detail-layout {
        flex-direction: column;
        align-items: center;
        width: 95%; /* Reducir el ancho a 95% en pantallas más pequeñas */
    }

    .restaurant-description-container {
        max-width: 100%;
        margin-left: 0;
        padding: 10px;
    }

    .restaurant-card {
        max-width: 100%;
        margin-right: 0;
    }

    .restaurant-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action-button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 480px) {
    .restaurant-detail-layout {
        flex-direction: column;
        align-items: center;
        width: 95%; /* Asegurarse de que ocupe un 95% del ancho en móviles */
    }

    .restaurant-description-container {
        max-width: 100%;
        margin: 10px 0;
    }

    .restaurant-card {
        max-width: 100%;
    }

    .restaurant-buttons {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .action-button {
        width: 100%;
    }
}
